.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 16px;
  background-color: #0f1014; /* grayScale.1000 */
}
